<header id="top" class="header">
    <div class="text-vertical-center">
        <h1>Url Shortner</h1>
        <h3>UNLEASH THE POWER OF THE LINK</h3>
        <br>
        {{#if flash}}
            <div class="alert alert-dismissible alert-{{flash.type}}">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>{{flash.intro}}</strong> {{{flash.message}}}
                {{#if flash.slug}}
                    <a href="https://node-us.herokuapp.com/{{{flash.slug}}}" target="_blank"><i class="fa fa-external-link-square"></i> </a><span>https://node-us.herokuapp.com/{{{flash.slug}}}</span>
                {{/if}}

            </div>
        {{/if}}
        <div class="login-container">
            <form class="form-horizontal" role="form" action="/shortener" method="POST">
                <div class="form-group form-group-lg ">
                    <div class="input-group input-group-lg url-shortener-input">
                        <input type="text" name="url" id="url" class="form-control input-lg" placeholder="Long Url...">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="submit" id="submitBtn">Shorten</button>
                      </span>
                    </div>
                    <!-- /input-group -->
                </div>
                <!-- /.col-lg-6 -->
            </form>
        </div>

        <div class="panel panel-default" id="flasher-div" style="display:none">
            <div class="panel-body"  id="url-flasher">
            </div>
        </div>
    </div>
</header>